[2018-12-13 14:39] aashish-ak opened #1 "Create the Homepage"
You need to create the homepage with design similar to [codechef](www.codechef.com), create the best possible design using expressJS ejs middleware. Add files as you please

[2018-12-13 14:50] aashish-ak opened #2 "Add Google Firebase Login/Signup API"
Add Google firebase JS integration and make a login/signup API with a proper database of users on firebase itself, it should be able to do google and facebook signup as well.

[2018-12-13 14:56] aashish-ak opened #3 "Create a User Dashboard."
Create a user profile page layout. It should **at least** contain the following fields to show the user information: _Name, Username, Email, Total soln submitted, Total AC, Total WA, Total TLE, a link to MySubmission page: http://localhost:3000/user/submissions (#41 )_.
route: http://localhost:3000/user/profile
ejs file: `./views/profile.ejs`

You can look at https://www.codechef.com/users/vishal_

[2018-12-13 14:59] aashish-ak opened #4 "Create a global ranklist of all the users."
A global ranklist should sort the users based on a few parameters like, how much questions he/she has solved, his/her accuracy, no. of submissions in each question. This can only be resolved after creation of a question database as user can only submit after that.

[2018-12-13 15:04] aashish-ak opened #5 "Create a Google Firebase database of Problem Statements."
The database should be hosted on Google firebase and should contain a proper schema of the database, like the problem id, statement, difficulty level, problem setter, the contest it was a part of, no. of people who have solved it, no. of peoople who have tried it etc., One should be able to push questions to the realtime database and fetch at the same time.

[2018-12-13 15:17] rapperdinesh commented on #3
I want to work on this issue

[2018-12-13 15:20] aashish-ak commented on #3
This issue has a dependency which is #2 , you need to complete that one first in order to work on this one, also the issues with `good first issue` label are preffered for beginners.

[2018-12-13 16:32] vsvipul commented on #2
i'd like to work on this for now ..

[2018-12-13 16:37] aashish-ak commented on #2
Good luck, ask for help anytime!!

[2018-12-14 05:52] Vishal1541 commented on #1
@dipanshu231099 good luck. Start working on it :+1:

[2018-12-14 11:11] Vishal1541 commented on #5
@Milind712000 good luck. Start working on this issue. Keep discussing related stuff under this thread as db plays a major role.

[2018-12-14 15:42] rapperdinesh commented on #4
I wish to work on this issue. Please assign. Till the completion of question database,
I can work on algorithm and interface and test it with trial inputs

[2018-12-14 16:53] Vishal1541 commented on #4
@rapperdinesh good luck. Start with the issue

[2018-12-14 16:58] #2 closed

[2018-12-14 17:02] aashish-ak opened #7 "Create a Login/Signup page!"
You need to create a login/signup page and call the functions from the Firebase API that has already been implemented by @vsvipul , the HTML , CSS should be done from scratch, no templates are allowed, the page should look good.

[2018-12-14 17:12] RikaShah commented on #7
i would like to work on this

[2018-12-14 17:15] RikaShah commented on #7
using html,css, js and react

[2018-12-18 05:53] Vishal1541 commented on #7
@RikaShah what's the update?

[2018-12-18 05:53] Vishal1541 commented on #7
@RikaShah what's the update?

[2018-12-18 05:55] Vishal1541 commented on #1
@dipanshu231099 How much progress?

[2018-12-18 11:10] dipanshu231099 commented on #1
I am still in the process of making

[2018-12-18 11:11] dipanshu231099 commented on #1
moreover my forked repository is not updating with the changes in the main directory how do we do it

[2018-12-18 13:04] vsvipul commented on #1
https://help.github.com/articles/syncing-a-fork/
https://zulip.readthedocs.io/en/latest/git/using.html?fbclid=IwAR1_IweZm408KDmLrPZ8VwhuryX8PlySs_yOYcgmegh0RkNn1K0HVcB7kkY#keep-your-fork-up-to-date

[2018-12-18 14:10] RikaShah commented on #7
I have designed and coded the web-page in react, now I have to validate it with database api, and connect it with the homepage

[2018-12-20 05:15] #7 closed

[2018-12-20 05:40] aashish-ak opened #13 "Connect Homepage with Login/Signup page."
The homepage should provide a login/signup button (if not logged in) and a dashboard/profile button if logged in. The login status should be checked in with the Google firebase API, which is already implemented.

[2018-12-20 05:44] aashish-ak opened #14 "Connect Login/Signup page with the Google Firebase login/signup API."
The login/signup page should be connected to the firebase API so that the signup/login form should be sent to the API for the credential verification. After login/signup the login status should should change and should redirect to the homepage.

[2018-12-20 06:02] #1 closed

[2018-12-20 06:12] Vishal1541 opened #15 "Split webpages to header, content and the footer."
Currently, there is only a single webpage **/views/index.html**. It is a good practice to always maintain header, footer and the main body of the webpage separately. Divide the pages into a general purpose header and footer that can be used for web pages other than the **index.html** also.

![index](https://user-images.githubusercontent.com/20883811/50267117-1d78ea80-044c-11e9-9596-00b61ffda989.pn

[2018-12-20 06:17] Vishal1541 opened #16 "Change the slideshow photos."
Currently, the slideshow in the **/views/index.html** contains some random pictures. Change the pictures to some of our own clicked photos e.g, photos from CodeEniacs event, Hackathon, Programming Club classes, etc.

![slideshow](https://user-images.githubusercontent.com/20883811/50267346-fbcc3300-044c-11e9-9f65-7122553cfe16.png)

[2018-12-24 07:04] #5 closed

[2018-12-24 07:14] Vishal1541 opened #18 "Create a webpage to display problems."
Add a webpage to show all the problems. It should have a table with **Prob ID**, **Prob Name** and **Tags**. Also, add a link to the problem set on the homepage. For reference look at the codeforces problem set:
![prob](https://user-images.githubusercontent.com/20883811/50393057-92646100-0779-11e9-866f-7d78d9e914ef.png)

[2018-12-24 11:14] #16 closed

[2018-12-24 18:10] Milind712000 commented on #18
I'll do this

[2018-12-25 04:04] Vishal1541 commented on #18
@Milind712000 Good luck. Start with it :+1:

[2019-01-02 11:01] #18 closed

[2019-01-04 05:33] aashish-ak commented on #13
Yes, Firebase API provides a method for that.

[2019-01-06 07:37] Vishal1541 opened #22 "Create a page to submit the code"
Create a page where the user can paste the code and submit it. As of now create this as an independent page. Afterward, this page will be linked to the specific problem by passing the problem code through the URL. It should have a _code editor interface_, _dropdown_ to select the Lang/ Compiler and a _submit button_ to submit the code finally. For reference, you can look at the CodeChef or Codefor

[2019-01-08 09:57] #22 closed

[2019-01-08 09:59] Vishal1541 commented on #22
Open `http://localhost:3000/submitprob?<questionID>` to open the submit page for that problem.
![submit_prob](https://user-images.githubusercontent.com/20883811/50823439-0564fe80-135a-11e9-986f-07ac087345d6.png)

[2019-01-08 10:36] aashish-ak commented on #22
Good job @Vishal1541 , this looks nice, but make sure one thing that if your code in it, you're able to extract the whole code as in the php version of codemaniacs, when i integrated the editor with the app and when i extracted code from the editor to send it to the judge API, the code wasn't as a single text but an array of length no. of lines, which gave me some problem, so make sure this one do

[2019-01-08 10:37] aashish-ak commented on #13
@dipanshu231099  Any progress on this one?

[2019-01-08 10:37] aashish-ak commented on #3
@rapperdinesh  Any progress on this issue?

[2019-01-08 10:51] Vishal1541 commented on #22
@aashish-ak I used [Ace code editor](https://ace.c9.io/). It has a function to extract the whole code at once.

[2019-01-08 10:57] aashish-ak opened #23 "Connect the app to Judge0 API."
The code submitted by user should be added to a JSON object along with details metioned [here](http://sntc.iitmandi.ac.in:3000) , and should be sent to the API, so design an interface to do this task, the JS scripts, should be able to extract data regarding the question from firebase and should be able to handle the API response as well. It is a [Judge0 API](https://github.com/judge0/api) which is

[2019-01-08 16:44] rapperdinesh commented on #3
not till now...completing the ranklist issue first

[2019-01-08 16:58] Milind712000 commented on #23
I'll try it

[2019-01-08 16:58] aashish-ak commented on #23
Work on it, we'll help you in the process.

[2019-01-10 12:55] RikaShah commented on #14
I would like to go for this!

[2019-01-11 04:48] aashish-ak opened #24 "Create a basic interface to hold contests."
Anyone can create a contest, with a separate contest id assigned to it, the host can invite multiple people to contribute in the contest, with minimum 5 questions required per question, they can have questions from existing questions repository or can create new ones, with the questions not visible in the practice section until the contest is over. More features will be added later, but this shoul

[2019-01-15 14:55] dipanshu231099 commented on #13
connect kaise krna hai iske liye kuchh bhi smjh nhi aa rha

[2019-01-16 17:17] aashish-ak commented on #13
Page bngaya pura?

[2019-01-16 17:40] dipanshu231099 commented on #13
signup login page to bnaa hua hai na??

[2019-01-21 07:08] Vishal1541 opened #26 "Create a platform for editing problems and test cases"
The admin login system can be implemented and integrated later. As of now, the problem description can be submitted through http://localhost:3000/question/submit. We need a platform for modifying the already created problems (editing prob desc, uploading/ modifying the test cases).
Create a page http://localhost:3000/admin to list all the existing problems. Eg. Codechef panel:
![cc_admin](https://

[2019-01-22 10:34] dipanshu231099 commented on #13
https://stackoverflow.com/questions/37873608/how-do-i-detect-if-a-user-is-already-logged-in-firebase
yeh hai method kya?

[2019-01-22 16:13] RikaShah commented on #13
I have already added this firebase check status, in the login app of react-dom, so you have to add cdn files, alongwith script tags in home page for compatibility with react-pack

[2019-01-22 19:19] #23 closed

[2019-01-22 20:06] aashish-ak opened #27 "Implement Routing Guards"
Implement routing guards to prevent anyone from accessing routes such as /submission, /dashboard, /contest etc. until the user is logged in.

[2019-01-23 05:56] rapperdinesh commented on #27
I wish to work on this issue.

[2019-01-23 05:57] Vishal1541 commented on #27
Good luck with it @rapperdinesh

[2019-01-23 06:30] Milind712000 commented on #26
I feel that a new page displaying a list of questions isn't required as we already have a problemset page
The edit page is almost the submit page and display page combined except:
- it can display testcases (display page won't as normal users shouldn't have access to those)
- it can change values of a question and testcase, given its id
- requires the user to be logged as admin

I can modify the s

[2019-01-23 06:49] Vishal1541 commented on #26
@Milind712000 we can use the same problem set page with the route /admin , but create a new page for editing the problems/ test cases. Once the admin click on any of the problem, he'll we directed to this edit page. This page has route /admin/edit? . Also, keep the fonts and elements styling small on this edit page.

[2019-01-25 11:35] Vishal1541 opened #30 "Add models for problems and testcases"
In the folder `./models` create a model for problems in a file named `problems.js` and export it as `Problems`. Following is the structure:

- qID: Integer

- name: String

- description: String

- inputFormat: String

- outputFormat: String

- constraints: String

- sampleInput: String

- sampleOutput: String

- explanation: String

- difficulty: Integer

- problemSetter: String

- timeLimit: Int

[2019-01-25 11:41] #4 closed

[2019-01-25 11:41] #13 closed

[2019-01-25 11:41] #14 closed

[2019-01-25 11:47] Vishal1541 opened #31 "Add models for users"
In the folder `./models` create a file named `users.js` and export it as `Users`. Here's the structure:

- name: String

- username: String

- email: String

- password: String

- isAdmin: boolean

[2019-01-25 11:50] Vishal1541 opened #32 "Create a login and signup form"
Create a simple login _(./views/login.ejs)_ and signup form _(./views/signup.ejs)_. The login form should have fields: **name, username, email, password** and signup form should have: **username, password**.

[2019-01-25 15:44] dipanshu231099 commented on #30
ill do it

[2019-01-25 15:50] Vishal1541 commented on #30
@dipanshu231099 Good luck :+1:

[2019-01-25 16:09] RikaShah commented on #32
i will conclude this

[2019-01-25 16:11] Vishal1541 commented on #32
Go ahead @RikaShah :+1:

[2019-01-26 14:35] #26 closed

[2019-01-26 15:02] Vishal1541 opened #36 "Add problems to the database"
Route: http://localhost:3000/admin/add
The app is connected to the database: `./config/database.js`. Add the problems to the database. The schema is in `./models/problems.js` and `./models/testcases.js`.
Currently, the data is being sent to the server: look at your terminal after submitting a problem. Basically, you'll have to implement the function: `submitQuestion()` in the file `./controls/func

[2019-01-26 16:57] dipanshu231099 commented on #31
onto it

[2019-01-26 17:19] Vishal1541 commented on #31
@dipanshu231099  Go for it.

[2019-01-27 06:10] #31 closed

[2019-01-27 06:22] #32 closed

[2019-01-27 07:17] Vishal1541 opened #40 "Implement user authentication using passport js"
Implement user authentication using passport js. Potential files:

- Signu form: `./views/signup.ejs`

- Login form: `./views/login.ejs`

- `./config/passport.js`

- `./routes/users.js`

- Schema: `./models/users.js`

- Implement any helper other helper functions in `./controls/functions.js`

[2019-01-27 08:13] RikaShah commented on #40
sir, i wish to take effort on this, please let me do it

[2019-01-27 10:00] Vishal1541 opened #41 "Create a MySubmission page layout"
Create a page for displaying all the submissions by a user. The page should contain a table having columns: **Submission ID, Problem Name, Language, Verdict, Time, Memory**.
Route: http://localhost:3000/user/submissions
ejs file: `./views/submissions.ejs`

You can have a look at https://codeforces.com/submissions/lane for reference.

[2019-01-28 06:13] #36 closed

[2019-01-28 07:05] Vishal1541 opened #42 "Edit problems to the database"
Route: http://localhost:3000/admin/edit/:qID
The app is connected to the database: `./config/database.js`. Edit the problems to the database. The schema is in `./models/problems.js` and `./models/testcases.js`.
Basically, you'll have to implement the function: `editQuestion()` in the file `./controls/admin.js`. You can add other helping functions there.

[2019-01-28 07:10] dipanshu231099 commented on #41
onto it

[2019-01-28 07:11] Vishal1541 commented on #41
@dipanshu231099 Go for it :+1:

[2019-01-28 07:17] dipanshu231099 commented on #41
sir pr pehle kya routing and ejs files ke baare mein kahaan se padhoon?

[2019-01-28 07:43] dipanshu231099 commented on #41
haan uske liye maine perk naam ki kuchh documentation dekhi similar hai voh bhi

[2019-01-28 07:44] Vishal1541 commented on #41
Anyways for this issue, you just need to know html css thing to build a webpage

[2019-01-28 08:11] dipanshu231099 commented on #42
can i do it?

[2019-01-29 08:41] dipanshu231099 commented on #42
is this assigned to milind?

[2019-01-29 09:40] Vishal1541 opened #44 "Display problems in Problem Set"
Currently, the table data is hard-coded. Display all the problems whose `isVisible` is **true** in **descending** order of the **qID**.
URL: http://localhost:3000/problems/all
ejs: `./views/problem_set.ejs`
route: `./routes/index.js`
You can create js file in: `./public/js/problem_set.ejs` if necessary.

[2019-01-29 10:02] dipanshu231099 commented on #44
on it

[2019-01-30 05:36] #42 closed

[2019-01-30 14:55] Vishal1541 opened #48 "Fetch and display the problem details"
Currently, there is just the layout ready for displaying any particular problem details. Fetch the problem's data from the database and display on that page.
URL: http://localhost:3000/problem/:qID
ejs: `problem_display.ejs`

[2019-01-31 05:40] #40 closed

[2019-01-31 09:52] Milind712000 commented on #27
I'd like to take up this issue

[2019-01-31 12:32] Vishal1541 opened #50 "Add submission details after submitting any problem"
The submission schema should look like:
username: String,
    qID: Number,
    subID: Number,
    code: String,
    language: String,
    verdict: String,
    time: Number,
    memory: Number,
    isVisible: Boolean,
    timeStamp: Date,
    tc: [{ status: String, time: Number, memory: Number }]

The subID will be 1 + total no of submissions till now. URL: http://localhost:3000/submit/:qID

[2019-01-31 14:12] Vishal1541 commented on #27
@Milind712000 good luck :+1:
@aashish-ak Dinesh has gone for the chess tournament.

[2019-01-31 17:58] vsvipul commented on #50
on it

[2019-01-31 18:02] Vishal1541 commented on #50
The main function to edit is in `./controls/problems.js`: `submitSolution()`

[2019-01-31 18:09] Vishal1541 commented on #50
Also, @vsvipul, the first non AC status will be the verdict and hence the time and memory, else the verdict will be "Accepted" and time = max(tc(time)) and memory = max(tc(memory))

[2019-01-31 18:10] vsvipul commented on #50
why max and not avg @Vishal1541  ?

[2019-01-31 18:16] Vishal1541 commented on #50
@vsvipul in case of AC it kinda shows how much worse or good is your solution (by looking at the worst case time and memory taken). The same happens in Codechef and Codeforces.

[2019-01-31 21:57] vsvipul opened #52 "Add solved property in problems model"
Add a property 'solved' to show how many people have solved that particular problem.

[2019-02-02 12:51] #50 closed

[2019-02-02 12:56] Vishal1541 opened #55 "Display user's submission history"
Display the current logged in user's submission history in the submission table in descending order of submission time.
URL: http://localhost:3000/user/submissions
ejs: `./views/submissions.ejs`

[2019-02-02 19:07] #24 closed

[2019-02-03 06:54] Vishal1541 opened #57 "Restrict from accessing invalid problems"
Restrict any logged in user (non-admin)/ logged out guest from opening  URL of the problem page and submit page with qID which is not present in db or which `isVisible: false`.
Restrict the admin from opening URL of the problem page and submit page with qID which is not present in db.
In case of restriction pass the client to the 404 page.

[2019-02-03 14:07] #57 closed

[2019-02-03 14:08] #48 closed

[2019-02-03 14:39] vsvipul opened #59 "Make rankings page header similar to other pages"

[2019-02-03 14:44] Vishal1541 commented on #59
Actually this page instead of modification needs to be replaced with a new one to match with all other pages. All other page tables are similar but this one is odd one out.

[2019-02-03 14:45] vsvipul commented on #59
yeah that is what i meant :+1:

[2019-02-04 05:01] Vishal1541 opened #60 "Make an online IDE"
Make an online IDE just like Codechef, Codeforces have their own on their platform.
The URL should be: localhost:3000/ide
For reference:
![ide](https://user-images.githubusercontent.com/20883811/52190934-efb6fc00-2867-11e9-929f-90cf4af3c8d9.png)

[2019-02-05 14:32] #60 closed

[2019-02-05 15:01] #44 closed

[2019-02-05 17:20] Vishal1541 commented on #3
Basic layout completed:
![cm_profile](https://user-images.githubusercontent.com/20883811/52291467-6ce18e80-2998-11e9-9091-377e4aa28d54.png)

[2019-02-05 17:21] #3 closed

[2019-02-05 18:47] Vishal1541 commented on #55
![subm](https://user-images.githubusercontent.com/20883811/52296509-97394900-29a4-11e9-84c3-d8eb12ab9def.png)

[2019-02-05 18:49] #55 closed

[2019-02-06 21:14] vsvipul commented on #52
yeah but submissions will generally be very high on such a website .. so don't u think it's better to just store it instead of querying the whole db @Vishal1541  ?

[2019-02-08 14:44] Vishal1541 opened #63 "Add a webpage to update user's details"
Add a link below `[ My submissions history ]` and a webpage to update the user's details except for the username. Separate update buttons for {name, email} and {password}.

[2019-02-08 16:43] #59 closed

[2019-02-09 14:30] Vishal1541 opened #64 "Scrape CC, CF ongoing/ upcoming contests"
Scrape the running and upcoming contests from Codechef and Codeforces into the webpage at the route: http://localhost:3000/contests

[2019-02-09 14:31] Milind712000 commented on #64
I'll do it

[2019-02-09 14:31] Vishal1541 commented on #64
@Milind712000 Good luck :+1:

[2019-02-09 14:36] Vishal1541 opened #65 "Make the footer stick to the bottom."
Make the footer section stick to the bottom of the webpage.
URL: http://localhost:3000/ http://localhost:3000/user/login http://localhost:3000/user/signup http://localhost:3000/contribution

[2019-02-09 14:40] Vishal1541 opened #66 "Fix SignIn SignUp CSS"
The signin and signup webpage seems to be distorted a bit. Fix their CSS. Also, in the signup webpage remove the **I Agree To The Terms & Conditions**.
URL: http://localhost:3000/user/login http://localhost:3000/user/signup

[2019-02-09 14:43] Vishal1541 opened #67 "Make the homepage look better"
Currently, there is no good information on the homepage. Make it more informative and look more attractive. Feel free to show your creativity :smiley:
URL: http://localhost:3000/

[2019-02-09 14:45] Milind712000 commented on #67
also make it responsive

[2019-02-10 17:51] Milind712000 commented on #65
also : http://localhost:3000/user/profile

[2019-02-10 17:54] Milind712000 commented on #63
I'll take this issue

[2019-02-11 02:59] Vishal1541 commented on #63
@Milind712000 Go for it! :+1:

[2019-02-11 04:51] #64 closed

[2019-02-11 23:21] Milind712000 commented on #65
+ not_found.ejs

[2019-02-12 09:20] #63 closed

[2019-02-12 15:13] Milind712000 commented on #65
I'll work on this issue

[2019-02-12 15:15] Vishal1541 commented on #65
@Milind712000 Go ahead!  :+1:

[2019-02-12 15:32] Vishal1541 commented on #52
@vsvipul I have currently implemented it using query: http://localhost:3000/problems/all (`solved column`) and closing this issue for now. We can discuss it and come up with some better approach, if possible, because we also need to show which users have solved that problem.

[2019-02-12 15:32] #52 closed

[2019-02-12 18:04] aashish-ak opened #72 "Remove the firebase code completely."
The following warning pops up in the developer tools window, when the `Problem Set` is opened, looks like some of the firebase code is still present in the app, remove it.
![firebase](https://user-images.githubusercontent.com/21988675/52657404-9e210800-2f1e-11e9-8a28-f3c16ae4a69e.png)

[2019-02-12 18:10] aashish-ak opened #73 "Change the display images."
There are memes in the homescreen slideshow, remove all of them and add dummy images for now or previous even posters.
![cm](https://user-images.githubusercontent.com/21988675/52657833-89913f80-2f1f-11e9-8516-a496d8f379d0.png)

[2019-02-12 18:14] aashish-ak opened #74 "Change the navbar stylizing."
Change the existing navbar with the [materializedcss](https://materializecss.com/navbar.html) navbar, so that it looks good.
![cm](https://user-images.githubusercontent.com/21988675/52658071-26ec7380-2f20-11e9-9b78-27838374a81e.png)

[2019-02-12 18:17] aashish-ak opened #75 "Use a frontend framework."
Instead of custom CSS, use [Materialized CSS](https://materializecss.com/) as frontend framework for CSS elements, so that the app looks good.

[2019-02-12 18:20] aashish-ak opened #76 "Add profile links in the Rankings page."
Attach a link to the user's profile with their username on the rankings page.

[2019-02-12 18:37] aashish-ak opened #77 "Change the position of Input/Output boxes in IDE"
Currently the input/output box is in right of the code editor, shift them to the bottom, including the submit button like codechef.com/ide , it'll look better.

[2019-02-12 18:56] aashish-ak opened #78 "Add sample code for each language."
Add hardcoded sample code like the one present for cpp for each language so that whenever user changes the language the sample code should get updated accordingly.

[2019-02-12 19:00] aashish-ak opened #79 "Add Google, Github, facebook signup/signin support."
Add the social media signups support using passport.js

[2019-02-12 19:03] aashish-ak opened #80 "Successfully signed up even after entering different passwords in the confirm password field."
Add a check to match the text of `Password` and `Confirm Password` field. Display the error if the match fails.

[2019-02-12 19:05] aashish-ak opened #81 "Add password security level."
Add constraints to the password security level eg. minimum 8 characters, include special characters etc. with a bar displaying the realtime security level of the current setup password.

[2019-02-12 19:08] aashish-ak opened #82 "Add proper check in the email field in Signup form"
Currently it's only checking for `@` which is not good as the email can be fake as `123@2123.123`(was able to signup using this), so add proper checks for this in the Signup form.

[2019-02-12 19:11] aashish-ak opened #83 "Unnecessary warning in opening the signup form."
The following warning pops up in the developer tools console, on opening the signup form, remove this.
![signup](https://user-images.githubusercontent.com/21988675/52661430-0c1dfd00-2f28-11e9-831d-90b38a4c3892.png)

[2019-02-12 19:40] aashish-ak opened #84 "Add snackbar to the top."
Add a snackbar like the one shown below, to show success/failure notifications on login/signup/form submission etc.

[2019-02-12 20:02] aashish-ak opened #85 "Automatic signout after updating password"
The app signs out automatically after updating the password which shouldn't have been the case, the nav bar chages to signin/sign up instead of profile/signout.

[2019-02-13 06:52] #72 closed

[2019-02-13 06:54] Vishal1541 commented on #76
This hasn't been implemented in the backend yet. Only the logged in user can view only his profile.

[2019-02-13 06:56] Vishal1541 commented on #77
Currently, we tried to make it look like CF: https://codeforces.com/problemset/customtest . This can be changed at later stages anyhow.

[2019-02-13 07:54] #85 closed

[2019-02-13 08:53] #80 closed

[2019-02-13 15:59] Vishal1541 opened #86 "Manage admins panel"
Currently, there is no way to manage admins. Add an interface to the admin panel which can manage other admins also. i.e. Can add/ remove other users from the admin. Also, this privilege is given only to the main supreme admin and not to other admins added by the main admin. And currently, we are having only one supreme admin.

[2019-02-14 02:09] RikaShah commented on #66
I will finish it

[2019-02-14 09:31] Vishal1541 opened #88 "A simple admin manager"
Create a simple interface to manage other users/ admins. i.e. to add and remove other users as an admin. #86 is the next level of this issue.

[2019-02-14 15:13] #66 closed

[2019-02-14 15:57] #88 closed

[2019-02-17 07:49] #65 closed

[2019-02-17 07:55] Vishal1541 commented on #84
Currently, an alert message is being shown on Signing Up. Needs similar thing while Signing In also.

[2019-02-17 09:49] Vishal1541 opened #92 "The very first problem couldn't be submitted"
When the `total_questions` is empty, it throws an error `Cannot read property 'totalProblems' of null`. Just add a check before saving into the collection.
File: `./controls/admin.js`
Function: `addQuestion`

[2019-02-18 04:48] #92 closed

[2019-02-18 15:22] aashish-ak opened #93 "Add display message if no submissions made by user."
Display a message saying `You haven't made any submissions yet.` on the profile page if no submissions have been made.
![submi](https://user-images.githubusercontent.com/21988675/52960567-183e0a80-33bf-11e9-8909-28e7af38c27a.png)

[2019-02-18 15:25] aashish-ak opened #94 "Link homescreen with the logo."
Home should on open on clicking the logo. Add the anchor link.

[2019-02-18 15:27] aashish-ak opened #95 "The facebook and github links should open in a separate page."
Currently the links are opening on the same page, make them open on new pages.

[2019-02-18 15:28] aashish-ak opened #96 "The `Join Now` button on the meme reloads the page instead of opening the signup page."

[2019-02-18 15:34] aashish-ak opened #97 "Add tags to problems."
Add tags to problems so that user can click on the tag and will be able to see all the questions with that particular tag.

[2019-02-18 15:40] aashish-ak opened #98 "Change problem difficulty levels to hard, easy etc. as tags."
Currently the difficulty levels are numeric with no scale visible, change it to `Hard`, `Easy` etc. with these too being tags, so that user can sort questions according to the difficulty.

[2019-02-18 15:42] aashish-ak opened #99 "Add sort to all the columns in all the tables."
The user should be able to sort the entities jst by clicking on the header of column like name, difficulty, solved etc.

[2019-02-18 15:43] aashish-ak opened #100 "Change Solved to Succesful Submissions."
Change the keyword `Solved` to `Succesful Submissions` in the `Problem Set` page.

[2019-02-18 15:49] aashish-ak opened #101 "Add link to the errors displayed after submission."
Add link to the errors displayed after submission. For e.g if i click on the `Compilation Error` , a popup should open with the exact error in my code. So that it becomes easy for me to debug the submission.
![submit](https://user-images.githubusercontent.com/21988675/52962277-d9aa4f00-33c2-11e9-8dc4-e258e5848593.png)

[2019-02-18 15:51] aashish-ak opened #102 "Add cancel button to go back to the questions page."
Add a cancel button just beside the Submit button, to take the user back to the question page has was making a submission for.
![submit](https://user-images.githubusercontent.com/21988675/52962381-2130db00-33c3-11e9-918a-1a739e13e4d0.png)

[2019-02-18 15:58] aashish-ak opened #103 "Add the profile picture to user dashboard."
The user should be able to add, delete and modify his/her profile picture in the profile page itself.

[2019-02-18 20:03] vsvipul commented on #103
@kpbot claim

[2019-02-18 20:06] vsvipul commented on #103
@kpbot abandon

[2019-02-18 20:13] vsvipul commented on #102
@kpbot claim

[2019-02-20 11:00] vsvipul commented on #103
@kpbot claim

[2019-02-20 11:00] vsvipul commented on #103
@kpbot abandon

[2019-02-20 14:12] vsvipul commented on #103
@kpbot claim

[2019-02-20 14:12] vsvipul commented on #103
@kpbot abandon

[2019-02-21 03:01] #102 closed

[2019-02-22 13:01] vsvipul opened #105 "After login, redirect to previous page"
After login the previously opened page should be opened and not the homepage

[2019-02-22 13:01] vsvipul commented on #105
@kpbot "good first issue" "help wanted" "enhancement"

[2019-02-22 13:02] vsvipul commented on #105
@kpbot add "good first issue" "help wanted" "enhancement"

[2019-04-11 05:17] Vishal1541 opened #106 "Confirmation before deleting any problem and contests"
Currently the problems `localhost/admin` and contest `localhost/admin/my-contests` gets deleted directly after clicking on the **Delete** button. It should ask the confirmation using the admin logged in user password before deleting.

![image](https://user-images.githubusercontent.com/20883811/55932270-a3f94800-5c46-11e9-8291-dee0aa2d9d07.png)

![image](https://user-images.githubusercontent.com/20

[2019-04-11 05:23] Vishal1541 opened #107 "Add column for mapping problems to contests"
Add a column to **My Problems** `localhost/admin` table to show all the contests (comma separated) that problem is present in.
![image](https://user-images.githubusercontent.com/20883811/55932499-91334300-5c47-11e9-9c55-99f3293ad1af.png)

[2019-04-11 05:33] Vishal1541 opened #108 "Create a page to display a particular contest"
Create a webpage template to display a particular contest.
All contests: `localhost/contests`
A contest wabpage should be at: `localhost/contest/<ID>`

![image](https://user-images.githubusercontent.com/20883811/55932839-da37c700-5c48-11e9-90b4-23d6ae3d9522.png)
You can seek help from Codechef and Codeforces:
_CodeChef:_
![image](https://user-images.githubusercontent.com/20883811/55932927-36025000

[2019-04-11 05:44] Vishal1541 opened #109 "Disallow creating contests with duplicate contests_code"
Implement a check for the duplication of contest code before creating a new contest.
`localhost/admin/new-contest`

![image](https://user-images.githubusercontent.com/20883811/55933360-ae1d4580-5c4a-11e9-826a-1b6f4481e7a3.png)

Here two contests with same code **FRST** has been created which should not be.
![image](https://user-images.githubusercontent.com/20883811/55933347-a6f63780-5c4a-11e9-823a

[2019-04-11 05:48] Vishal1541 commented on #74
@aashish-ak But won't the material css would be slower?

[2019-04-11 05:49] #82 closed

[2019-04-11 05:54] Vishal1541 opened #110 "Login Signup using Gmail, Facebook"
Currently, the user can sign in/up using some random email ID. Implement login signup authentication with Google and Facebook also.
`localhost/user/login`
`localhost/user/signup`

![image](https://user-images.githubusercontent.com/20883811/55933825-4f58cb80-5c4c-11e9-9ec1-13c240486c0f.png)

[2019-04-11 06:35] Vishal1541 opened #111 "Add testcase through files"
Currently, test cases are begin added through textbox only. Add an option to add each test case either through textbox or through `txt` file upload.
Problem Add: `localhost/admin/add`
Problem Edit: `localhost/admin/edit/<qID>`

![image](https://user-images.githubusercontent.com/20883811/55935688-db212680-5c51-11e9-99af-9a591d7ad3c9.png)

[2019-04-11 06:44] Vishal1541 opened #112 "Add editorial column to the problem set"
Add a column **Editorials** to the **Problem Set** table `localhost/problems/all` which should have a link to that particular problem editorial `localhost/editorial/<qID>` (if available).

![image](https://user-images.githubusercontent.com/20883811/55936234-4fa89500-5c53-11e9-8b57-2056f7d4b866.png)

[2019-04-11 06:55] Vishal1541 opened #113 "Create a webpage to show a problem editorial"
Create a webpage template `localhost/editorial/<qID>` to show a particular problem editorial. You can look into Codechef/ Codeforces editorial. Eg. https://discuss.codechef.com/t/cr197-editorial/23779
![image](https://user-images.githubusercontent.com/20883811/55936763-d447e300-5c54-11e9-8aa6-e481bffb37ca.png)

[2019-05-16 05:52] Vishal1541 opened #114 "Add copy to clipboard and download code from user's submission"
Add functionality (icons) to copy the whole code to the clipboard and to download the code. You can place those icons on the top right corner of the code editor area.
![image](https://user-images.githubusercontent.com/20883811/57829442-96e2f200-77cc-11e9-89b5-c70280c7a226.png)

Something similar to:
![image](https://user-images.githubusercontent.com/20883811/57829482-bd089200-77cc-11e9-9aa3-5a7b4e

[2019-05-22 12:02] Vishal1541 opened #115 "Make "Problem Setter" name uneditable"
Make the problem setter's name fixed (non-editable), in the
`admin/add`: While creating a new problem (`Problem Setter`: `<Logged in User's name>`)
`admin/edit/<qID>`: While editing a problem

![image](https://user-images.githubusercontent.com/20883811/58172743-0407f300-7cb7-11e9-8627-5e523df5417f.png)

[2019-06-16 04:25] kartik1000 commented on #84
@Vishal1541 or @aashish-ak Sir can I take up this issue?

[2019-06-16 05:13] Vishal1541 commented on #84
@kartik1000 Good luck :+1:

[2019-06-16 05:17] #94 closed

[2019-06-16 07:21] #84 closed

[2019-06-16 08:14] vsvipul commented on #105
@kpbot claim

[2019-06-16 08:14] vsvipul commented on #105
@kpbot abandon

[2019-06-18 06:53] anjali142 commented on #105
@kpbot claim

[2019-06-18 17:45] karry26 commented on #115
@kbobot claim

[2019-06-18 18:51] karry26 commented on #114
n

[2019-06-19 20:10] karry26 commented on #115
@kpbot claim

[2019-06-24 14:45] anjali142 commented on #100
@kpbot claim

[2019-06-24 15:19] anjali142 commented on #105
@kpbot abandon

[2019-06-24 15:40] anjali142 commented on #100
@kpbot claim

[2019-06-24 15:52] anjali142 commented on #100
@kpbot abandon

[2019-06-25 11:22] #100 closed

[2019-06-25 19:27] karry26 commented on #115
working

[2019-06-25 19:37] karry26 commented on #114
@kpbot claim

[2019-06-26 17:12] karry26 commented on #114
@kpbot claim

[2019-06-26 22:33] #115 closed

[2019-06-26 22:41] karry26 commented on #114
@kpbot claim

[2019-07-03 22:33] anjali142 commented on #95
@kpbot claim

[2019-07-03 22:47] #95 closed

[2019-07-04 15:35] anjali142 commented on #108
@kpbot claim

[2019-07-04 22:37] Vishal1541 commented on #108
@anjali142 good luck 👍

[2019-07-06 08:01] kartik1000 commented on #73
@kpbot claim

[2019-07-06 08:01] kartik1000 commented on #74
@kpbot claim

[2019-07-07 10:25] karry26 commented on #114
@kpbot claim

[2019-07-07 12:49] #114 closed

[2019-07-14 21:11] anjali142 commented on #108
@kpbot claim

[2019-07-16 13:23] #86 closed

[2019-07-16 13:27] Vishal1541 opened #130 "2 level admins"
Currently, there is only one level of the admin who has all the privileges to add, remove other admins, problems and contests. To come up with a better approach, admins should have **2 levels**:

- **Level1:** is the **supreme admin** who has all the privileges to add, remove other users as admins, can see, modify, delete every problem and the contests.

- **Level2:** is the **problem setter** who

[2019-07-18 13:40] vsvipul opened #131 "Upgrade lodash to version 4.17.13 or later"
Current lodash version has a security vulnerability. Update it to v4.17.13 or later.

[2019-09-29 03:03] Milind712000 commented on #111
@kpbot claim

[2019-09-29 03:04] Milind712000 commented on #111
@kpbot abandon

[2019-09-29 12:05] dheeraj135 commented on #130
@kpbot assign

[2019-10-07 19:04] dheeraj135 commented on #130
@kpbot claim

[2019-10-07 19:04] dheeraj135 commented on #130
@kpbot claim --force

[2019-10-07 21:35] dheeraj135 commented on #130
Hi,
In the problem setter field, we are storing the name of the user. Now, the username is not guaranteed to be unique. I suggest we should store username in the problem setter field.

Benefits:
- We can easily filter questions related to a particular setter. This will help us in implementing required operations for the problem setter.
- Minimal code change. At max 4-5 lines needs to be changed.

[2019-10-09 14:01] Vishal1541 commented on #130
@dheeraj135 Yes, this was supposed to be done and with the previous contributors we had discussed about it but due to some reason there was no progress. You can take up this one :+1:

[2020-05-22 01:22] phamminhtuan1999 commented on #111
Hi. What kind of Testcase file? Txt or Json or Js. How can I structure that? Thank for support

[2020-05-22 01:23] phamminhtuan1999 opened #135 "Testcase File"
Hi. What kind of Testcase file? .Txt or .Json or .Js. How can I structure that? Can you give me an example of Testcase file, please. Thank for your support

[2020-06-03 17:19] phamminhtuan1999 commented on #101
Hi bro. How can I add more TestCase? Because when I add Problem, I cannot add more than one testcase (one stdin, one stdout). Please help me. Thank you!

[2020-06-08 18:58] aashish-ak commented on #101
@Vishal1541  Please look into this.

[2020-10-03 11:05] naveensaigit commented on #131
Is this required now? lodash is not there in package.json

[2020-10-03 20:34] vsvipul commented on #131
closing.

[2020-10-03 20:34] #131 closed

[2020-10-28 09:19] vsvipul commented on #79
This will be better if we could add ldap support. Contact @Swapnilr1  for any help related to ldap if anyone is interested.

[2020-11-04 19:38] pranshukharkwal commented on #111
@kpbot claim

[2020-11-04 19:38] pranshukharkwal commented on #111
@kpbot claim --force

[2020-11-10 14:52] dheeraj135 opened #140 "Test the contest-page branch."
Test the contest-page branch and merge it into master.

[2020-11-10 14:52] dheeraj135 commented on #140
@pranshukharkwal Is it possible for you to look into this?

[2020-11-18 19:54] pranshukharkwal commented on #135
Hi @phamminhtuan1999
Testcase files are just txt files in this format :
[code]

input and output texts separated by two lines.

[2020-11-18 19:54] pranshukharkwal commented on #78
@dheeraj135 You may close this issue

[2020-11-18 19:54] pranshukharkwal commented on #135
@dheeraj135 You may close this issue as well

[2020-12-06 06:45] Signior-X opened #141 "Make default values in Create problem form"
1. Currently memory limit and time limit field empty are allowed, they should not.
2. There should be a default value of 262144 memory limit and 1 second time limit.

[2020-12-06 06:45] pranshukharkwal opened #142 "Add dummy codes for different languages in submit page"
This issue has already been fixed for the /ide route : http://localhost:3000/ide
But still exists in http://localhost:3000/submit/:qNo

Check this PR for the fix for the ide route : #138

[2020-12-06 06:45] #135 closed

[2020-12-06 06:46] #113 closed

[2020-12-06 06:46] #112 closed

[2020-12-06 07:48] pranshukharkwal opened #143 "Add "Copy" button in problem page to copy sample input and sample output to the clipboard"
In the route : http://localhost:3000/problem/:qNo
Add a copy button with the sample input and the sample output sections, add a copy button, which would copy the corresponding text to the clipboard.

[2020-12-06 08:01] Signior-X opened #145 "Make delete button smaller on admin page"

[2020-12-06 08:07] #111 closed

[2020-12-06 08:22] Signior-X commented on #145
Like see the admin page
![image](https://user-images.githubusercontent.com/56730716/101275233-1fb7e900-37ca-11eb-865a-eb49125f0e3d.png)

Make the delete button smaller, you can change the class searching `bootstrap buttons` on google.

[2020-12-06 08:48] Piyush3436 commented on #145
I'll work on this.

[2020-12-06 10:54] Piyush3436 commented on #81
@aashish-ak I'll take this up, please assign this issue to me

[2020-12-06 12:12] Piyush3436 commented on #143
@pranshukharkwal I'll take this up. Please assign the issue to me.

[2020-12-07 00:11] ineffable23 commented on #145
I'm interested

[2020-12-07 00:23] ineffable23 commented on #96
Can I work on this issue?

[2020-12-07 00:25] ineffable23 commented on #77
I'm highly interested to work on this issue. Do assign this issue so that I could contribute.

[2020-12-07 08:17] poojadas07 commented on #93
hey@aashish-ak....Can I work on this issue?

[2020-12-07 10:02] Signior-X commented on #145
@ineffable23 this issue was already being fixed by @Piyush3436
You can look at other issues for the time being.

[2020-12-07 10:02] #145 closed

[2020-12-07 10:04] pranshukharkwal commented on #143
@Piyush3436 sure

[2020-12-07 10:14] Signior-X commented on #78
@pranshukharkwal closing this
Nice work!

[2020-12-07 10:14] #78 closed

[2020-12-07 16:11] nehal6657 commented on #110
i would like to try on this issue

[2020-12-07 16:33] pranshukharkwal commented on #110
@nehal6657 Go ahead. I am assigning you the issue.

[2020-12-08 06:59] shrirangpdeshmukh commented on #141
Can I work on this?

[2020-12-08 07:04] pranshukharkwal commented on #141
@shrirangpdeshmukh Sure go ahead. I am assigning you this issue.

[2020-12-08 08:44] shrirangpdeshmukh commented on #142
Can I work on this issue?

[2020-12-08 08:45] shrirangpdeshmukh commented on #109
Can I work on this issue?

[2020-12-08 08:55] pranshukharkwal commented on #142
@shrirangpdeshmukh
Yes go ahead with this one. Also I would not suggest you to pick multiple issues at once.
Pick this one, and after doing it, you can move to the other one.

[2020-12-08 15:59] Palash1999 commented on #106
I want to work on this.

[2020-12-08 21:35] #142 closed

[2020-12-09 14:02] Signior-X opened #153 "Redesign/Style the new contest page"
Currently the creating new contest page does not seem much user friendly and good.
![image](https://user-images.githubusercontent.com/56730716/101639243-0d9dab00-3a55-11eb-85c2-f38217327266.png)

Make it look better using css so that it will be more appealing to see.
Suggestions are always welcome!

[2020-12-09 14:08] pranshukharkwal opened #154 "Fix the size of delete button in /admin/my-contests route"
Similar to issue #145
Also, check if this issue exists for other pages as well, and if it does, fix for them also.

[2020-12-09 14:13] pranshukharkwal commented on #153
Also do the same design changes in the edit contest page : /admin/edit-contest/round1

[2020-12-09 14:13] Signior-X opened #155 "Previous Name and Email not coming in Edit Profile page"
When you click on edit profile page, the name and email of the user should come to edit.

![image](https://user-images.githubusercontent.com/56730716/101640294-5a35b600-3a56-11eb-8b07-bd87ce521658.png)
Here the present name and email should come to edit.

[2020-12-09 14:19] pranshukharkwal opened #156 "[BUG] Link to problem in an individual problem submission page points to a wrong url"
![Screenshot from 2020-12-09 19-47-21](https://user-images.githubusercontent.com/21126219/101641155-6bcb8d80-3a57-11eb-8840-7a7a300a2f2d.png)
http://localhost:3000/user/submission/28
Check this route : /user/submission/:submissionId , example : /user/submission/5
Here in the problem column, the link points to the submission with submission id, but instead it should point to the problem with that p

[2020-12-09 14:22] pranshukharkwal opened #157 "[Feature request] Add a feature to allow users to upload their profile pictures."
This should be done both in the signup page, and the profile update page.
We can discuss the implementation details here.

[2020-12-09 14:40] Signior-X commented on #110
http://www.passportjs.org/docs/google/
This can be helpful!

[2020-12-09 19:30] Piyush3436 commented on #157
Please assign this to me. I'll take this up.

[2020-12-09 19:34] Piyush3436 commented on #155
@Signior-X I'll take this up.

[2020-12-10 05:40] Ayushgup85 commented on #157
Can you please assign this to me?

[2020-12-10 08:53] Creatoon commented on #154
I want to work on this.

[2020-12-10 10:10] pranshukharkwal commented on #157
@Piyush3436 You can take this one as you commented first.
@Ayushgup85 you can pick other issues, like #156

[2020-12-10 10:14] #141 closed

[2020-12-10 14:02] Creatoon opened #161 "Depreciation warnings appears on running the application."
![bug1](https://user-images.githubusercontent.com/65965202/101781875-5c634780-3b1e-11eb-9c72-71fd5dd5a828.PNG)

[2020-12-10 14:03] Creatoon commented on #161
I want to work on this issue @vsvipul

[2020-12-10 14:07] shrirangpdeshmukh commented on #107
Can I Work on this ?

[2020-12-10 14:09] pranshukharkwal commented on #107
@shrirangpdeshmukh Go ahead

[2020-12-10 14:12] shrirangpdeshmukh commented on #107
If a problem is not a part of a contest what should be displayed in the column ?

[2020-12-11 09:16] shrirangpdeshmukh commented on #109
Can I take this up now?

[2020-12-11 11:06] pankajkumarbij commented on #99
Hello,
I solved the issue (Add sort to all the columns in all the tables. #99).
Now we can sort the entities by clicking on the header of that column.

If you create a new table in the future then add a class like class="data-table" in that table then the sort feature is also working for that table.

Suggestions:-
If you want more features like pagination, searching bar, etc for the table then you

[2020-12-12 16:05] dheeraj135 opened #165 "Improve Contest and Problem Model by using Many-to-Many relations."
This problem was highlighted by #163. If we had many-to-many field for contest-problem relation, the solution would be much more elegant.

[2020-12-12 16:20] shrirangpdeshmukh commented on #165
Okay, I will work on this!

[2020-12-12 18:21] Gautam-Arora24 commented on #154
Working on this issue

[2020-12-12 18:33] #161 closed

[2020-12-12 18:34] Creatoon opened #167 "Depreciation warnings on the command prompt"
![bug1](https://user-images.githubusercontent.com/65965202/101992088-bdce1680-3cd6-11eb-8022-b1cbe2618dbb.PNG)

[2020-12-12 18:50] Gautam-Arora24 commented on #157
Can I work on this issue?

[2020-12-12 19:10] Gautam-Arora24 commented on #156
@kpbot claim

[2020-12-12 22:39] Creatoon opened #169 "Disappearing of images after 1.5seconds."
Whenever a new image gets loaded it stays for 1.5s and gets disappeared.

To Reproduce,
1) Visit the About section.
2) Click the forward and backward buttons to see the disappearing defect.

![CodemanBugFix](https://user-images.githubusercontent.com/65965202/101996484-df3ffa00-3cf8-11eb-998a-61d909cf123f.PNG)

After few seconds.

![codemanBug](https://user-images.githubusercontent.com/65965202/101

[2020-12-13 08:09] #154 closed

[2020-12-13 09:55] Creatoon opened #172 "We should add a video tutorial to setup this project on local machine."

[2020-12-13 14:57] Gautam-Arora24 commented on #172
Can I make the video?

[2020-12-13 16:43] Creatoon commented on #172
@Gautam-Arora24  please find other issues, I have already started making a video. Just wanted a confirmation from Repo maintainers.

[2020-12-13 16:54] Ayushgup85 commented on #156
Can i work on this issue?

[2020-12-13 17:29] Ayushgup85 commented on #153
Can i work on this issue?

[2020-12-14 11:02] Gautam-Arora24 commented on #157
@kpbot claim

[2020-12-14 19:32] Shagufta08 commented on #153
I would like to work on this issue?

[2020-12-14 20:05] pranshukharkwal commented on #172
@Creatoon Sounds like a good idea. Go ahead.

[2020-12-14 20:20] pranshukharkwal commented on #156
@Gautam-Arora24 Yes you can work on this issue.
@Ayushgup85 you can pick other issues.

[2020-12-14 20:20] pranshukharkwal commented on #153
@Ayushgup85 You can work on this issue.
@Shagufta08 Please pick some other issue.

[2020-12-14 20:21] pranshukharkwal commented on #157
@Piyush3436 any updates on this?
If you are not working on it, we can assign it to @Gautam-Arora24

[2020-12-15 07:45] Piyush3436 commented on #157
@pranshukharkwal I've mentioned the issue being faced in the slack channel. If the changes are permitted in the controller I can work over it. If @Gautam-Arora24 can resolve it any other way, I've no problem with the issues being assigned to him.

[2020-12-15 18:57] Gautam-Arora24 commented on #156
Is **qId** the id for a particular question?

[2020-12-15 19:46] pranshukharkwal commented on #156
@Gautam-Arora24 yes

[2020-12-15 19:50] Gautam-Arora24 commented on #156
@pranshukharkwal Kindly provide me the dummy details of any problem so that I can check and submit any solution for that.

[2020-12-15 20:02] pranshukharkwal commented on #157
@Piyush3436 @Gautam-Arora24 You both can maybe discuss the best possible solution over slack, and then one of you (or you both) could work on it.

[2020-12-15 20:03] Gautam-Arora24 commented on #157
@pranshukharkwal Actually I have debugged a lot and found the appropriate solution for it. Now what I need is the dummy data for a problem

[2020-12-15 22:26] pranshukharkwal commented on #156
@Gautam-Arora24 you can enter any random text for dummy details, or you can also pick any problem from sites like codeforces, codechef etc.

[2020-12-15 22:28] pranshukharkwal commented on #157
@Gautam-Arora24 why do you need dummy data for problem for this issue?

[2020-12-16 06:15] Gautam-Arora24 commented on #157
@pranshukharkwal Sorry, I commented on the wrong issue

[2020-12-16 12:15] vkassingh opened #176 "Add Gitpod Support"
Add Gitpod Support
Local installations can be tedious. The contributors can save time by using gitpod

[2020-12-17 22:29] pranshukharkwal commented on #176
Hi @vkassingh !
While this sounds like a really cool thing to have, it is not something that we need "right now".
We can maybe work on it later, when the basic but more important issues have been fixed.

[2020-12-18 21:36] danish1804 commented on #153
Plss can you assign this issue to me @Shagufta08 @Ayushgup85 @sahilarora535 i can work on the UI part

[2020-12-18 21:39] danish1804 commented on #96
Can I work on this issue please ?? @aashish-ak @ineffable23

[2020-12-19 19:39] #143 closed

[2020-12-19 20:07] #156 closed

[2020-12-19 20:12] pranshukharkwal commented on #167
Closing this.

[2020-12-19 20:12] #167 closed

[2020-12-19 20:13] pranshukharkwal commented on #165
Hi @shrirangpdeshmukh
Any updates? Are you still working on it?

[2020-12-19 20:14] Signior-X commented on #169
Nice issue created! Well done @Creatoon
Reviewing your PR.. stay tuned!

[2020-12-20 02:31] shrirangpdeshmukh commented on #165
I am sorry ! I was not able to work much on this due to my ongoing end semester examinations.
The examination will be completed by Monday. I will complete this after Monday as soon as possible.

[2020-12-20 15:48] InfiniteVerma commented on #109
This seems resolved already. In ```./controls/admin.js``` line no 152, flag_contest variable is being used to check whether a contest with the same code already exists or not.

[2020-12-24 16:03] Siddhant-K-code commented on #176
I can Do this :)

[2020-12-24 17:20] Shagufta08 commented on #81
Hey! I would like to work on this.
Can you please assign me this issue?

[2020-12-24 21:31] pranshukharkwal commented on #81
@Shagufta08 Go ahead

[2020-12-25 08:32] pranshukharkwal commented on #109
@InfiniteVerma @shrirangpdeshmukh
As I can see, when you create a contest with an already existing code, it does not create a new contest, but also doesn't show any error. So maybe we could add an alert here which you ask the user to choose a different contest code as this one is already taken.

[2020-12-25 13:21] ank1traj opened #180 "After Submission it keep running only."
After submission to any question it keeps showing running only and nothing else comes in each question and each language. In IDE section code is giving correct output.

[2020-12-26 07:05] #180 closed

[2020-12-27 16:19] Signior-X commented on #153
@Ayushgup85 are you working on this?

[2020-12-27 16:22] Ayushgup85 commented on #153
Yes i am working on this issue .I will submit it asap.Actually my exams are going on.

[2020-12-27 16:31] #169 closed

[2020-12-28 06:48] InfiniteVerma commented on #109
Alright.

[2020-12-28 07:00] shrirangpdeshmukh commented on #109
I have created a PR addressing this issue

[2021-01-09 22:43] NikhilSharmaWe commented on #153
looking forward to contribute on this issue

[2021-01-18 15:10] NikhilSharmaWe commented on #153
i am unable to find the html of this page can anyone help me how to find it

[2021-05-24 13:33] vsvipul commented on #153
@kpbot claim